extends ../layout

block content
    h2= title

    form(name="add",method="post",action="/pedidos/addProd")
     .container
        |Ultimo pedido
        input#pedido.form-control.input-md(name='pedido', type='text', placeholder="#{pedido.idpedido} + #{pedido.nome}",value='#{pedido.idpedido', disabled='')
        // Text input
        | Produto + Quantidade disponivel
        select#produto.form-control(name='produto')
           each estoque, i in estoques.rows
            option(value='#{estoque.idproduto}') #{estoque.descricao} - #{estoque.quantidade} unidades disponiveis 
        br
        | Quantidade
        input#quantidade.form-control.input-md(name='quantidade', type='number', placeholder='Ex.: 10', required='')
        br       
        // Button
        button.btn.btn-primary(type='submit') Adicionar novo Produto
        a.btn.btn-primary(type='button',href='pedidos') Voltar para Home

