extends ../layout

block content
    h3= title

    form(name="addProdPedido",method="post",action="/pedidos/addProd/#{pedido}")
     .container
        |Pedido
        input#pedido.form-control.input-md(name='pedido', type='text', placeholder='#{idpedido}',value='#{idpedido}', readonly='readonly')
        // Text input
        | Produto + Quantidade disponivel
        select#produto.form-control(name='produto')
           each estoque, i in estoques.rows
            option(value='#{estoque.idproduto}') #{estoque.descricao} - #{estoque.quantidade} unidades disponiveis 
        br
        | Quantidade
        input#quantidade.form-control.input-md(name='quantidade', type='text', placeholder='Ex.: 10', required='')
        br       
        // Button
        button.btn.btn-primary(type='submit') Adicionar novo Produto no pedido
        br
        a.btn.btn-info(type='button',href='pedidos') Voltar para home 
        

