extends ../layout

block content
  h1= Pedidos
  br
  .container
   input#Pesquisa.form-control(type='text', placeholder='Search..')
   br
   br
   table.table.mr-auto
    thead
      tr
       th.text-center Cod
       th Cliente
       th Preço
       th Desconto
       th Status do Pedido
       th.text-right Actions
    tbody#Tabela
     each pedido, i in pedidos.rows 
      tr
       td.text-center #{pedido.idpedido}
       td #{pedido.nome}
       td #{pedido.preco}
       td #{pedido.desconto}
       td #{pedido.status}
       td.td-actions.text-right
        a(href='/pedidos/editar/#{pedido.idpedido}')
           button.btn.btn-success(type='button', rel='tooltip')
            i.now-ui-icons.ui-2_settings-90
        a(href='/pedidos/delete/#{pedido.idpedido')
           button.btn.btn-danger(type='button', rel='tooltip')  
            i.now-ui-icons.ui-1_simple-remove
 script.
    $(document).ready(function(){
      $("#Pesquisa").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#Tabela").filter(function() {
         $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
         });
       });
    });
