extends ../layout

block content
  h3= title
  br
  .container
   .form-group.input-group
   span.input-group-addon
    i.glyphicon.glyphicon-search
   input#txt_consulta.form-control(type='text',name='Consultar', placeholder='Pesquisar..')
   br
   table.table.mr-auto
    thead
      tr
       th.text-center Cod
       th Cliente
       th Preço
       th Status do Pedido
       th.text-right Ações
    tbody#Tabela
     each pedido, i in pedidos.rows 
      tr
       td.text-center #{pedido.idpedido}
       td #{pedido.nome}
       td #{pedido.preco}
       td #{pedido.status}
       td.td-actions.text-right
        a(href='/pedidos/adcProd/#{pedido.idpedido}') Adicionar produtos no pedido
        a(href='/pedidos/atualizarStatus/#{pedido.idpedido}') Adicionar produtos no pedido
        a(href='/pedidos/detalhes/#{pedido.idpedido}')
           button.btn.btn-info(type='button', rel='tooltip')
            i.now-ui-icons.ui-1_zoom-bold    
   br
   br
   br
   a.btn.btn-info(type='button',href='pedidos/cadPedido') Cadastrar Novo Pedido     
 script.
    $('input#txt_consulta').quicksearch('table#tabela tbody tr'); 

