extends ../layout

block content
  h1= Produtos
  .container
   table.table.mr-auto
    thead
      tr
       th.text-center Cod
       th Produto
       th Quantidade
       th.text-right Actions
    tbody
     each estoque, i in estoques.rows
      tr
       td.text-center #{estoque.idestoque}
       td #{estoque.descricao}
       td #{estoque.quantidade}
       td.td-actions.text-right
          a(href='/estoque/editar/#{estoque.idestoque}')
           button.btn.btn-success(type='button', rel='tooltip')
            i.now-ui-icons.ui-2_settings-90
   br
   br
   br
   a.btn btn-info(type='button' href='/cadEstoque')
    |Atualizar Estoque    
      