extends ../layout

block content
  h1= Produtos
  .container
   table.table.mr-auto
    thead
      tr
       th.text-center Cod
       th Cliente
       th Preço
       th Status do Orçamento
       th.text-right Actions
    tbody
     each orcamento, i in orcamentos.rows
      tr
       td.text-center #{orcamento.idorcamento}
       td #{orcamento.nome}
       td #{orcamento.preco}
       td #{orcamento.descricao}
       td.td-actions.text-right
          a(href='/orcamentos/editar/#{orcamento.idorcamento}')
           button.btn.btn-success(type='button', rel='tooltip')
            i.now-ui-icons.ui-2_settings-90
   br
   br
   br
   a.btn.btn-info(type='button',href='orcamentos/cadOrcamento') Cadastrar Nova Conta      
      