extends ../layout

block content
  h1= Produtos
  .container
   table.table.mr-auto
    thead
      tr
       th.text-center Cod
       th Valor
       th Descrição
       th Data Vencimento
      tbody
     each conta, i in contas.rows
      tr
       td.text-center #{conta.idconta}
       td #{conta.valor}
       td #{conta.datavencimento}
       if #{conta.tipo} == false
        td A PAGAR
       else 
        td A receber
   br
   br
   br
   a.btn.btn-info(type='button',href='financeiro/cadConta') Cadastrar Nova Conta       
      