extends ../layout

block content
  h1= Produtos
  .container
   table.table.mr-auto
    thead
      tr
       th.text-center Cod
       th Valor
       th Descrição
       th Data Vencimento
       th.text-right Actions
    tbody
     each conta, i in contas.rows
      tr
       td.text-center #{produto.idproduto}
       td #{produto.descricao}
       td #{produto.peso} g
       td 
       td.td-actions.text-right
          a(href='/produtos/editar/#{produto.idproduto}')
           button.btn.btn-success(type='button', rel='tooltip')
            i.now-ui-icons.ui-2_settings-90
          a(href='/produtos/delete/#{pedido.idproduto')
           button.btn.btn-danger(type='button', rel='tooltip')
            i.now-ui-icons.ui-1_simple-remove
      