extends ../layout

block content
  h1= Produtos
  .container
   table.table.mr-auto
    thead
      tr
       th.text-center Cod
       th Nome
       th Cnpj
       th telefone
       th Endereço
       th Email
       th Site
       th.text-right Actions
    tbody
     each fornecedor, i in fornecedores.rows
      tr
       td.text-center #{fornecedor.idfornecedor}
       td #{fornecedor.nome}
       td #{fornecedor.cnpj} 
       td #{fornecedor.telefone} 
       td #{fornecedor.endereco}
       td #{fornecedor.email}
       td #{fornecedor.site}
       td.td-actions.text-right
          a(href='/fornecedores/editar/#{fornecedor.idfornecedor}')
           button.btn.btn-success(type='button', rel='tooltip')
            i.now-ui-icons.ui-2_settings-90
          a(href='/fornecedores/delete/#{pedido.idfornecedor')
           button.btn.btn-danger(type='button', rel='tooltip')
            i.now-ui-icons.ui-1_simple-remove
      