extends ../layout

block content
    h1= title

    form(name="editProduto",method="post",action="/produtos/editarProduto")
     .container
        // Text input
        | Descrição
        input#descricao.form-control.input-md(name='descricao', type='text', placeholder='Ex: Abridor Hommer', required='', value='#{produto.descricao}')
        br
        // Text input
        |Preço Custo
        input#precocusto.form-control.input-md(name='precocusto', type='text', placeholder='25.88', required='', value='#{produto.precocusto}')
        br
        // Text input
        |Preço Final
        input#precocliente.form-control.input-md(name='precocliente', type='text', placeholder='99.85', required='', value='#{produto.precocliente}')
        br
        // Text input
        |Preço Revenda
        input#precorevenda.form-control.input-md(name='precorevenda', type='text', placeholder='99.85', required='', value='#{produto.precorevenda}')
        br
        // Button
        button.btn.btn-primary(type='submit') Editar