extends ../layout

block content
  h3= title
  br
  .container
  .form-group.input-group
  span.input-group-addon
    i.glyphicon.glyphicon-search
  input#txt_consulta.form-control(type='text',name='Consultar', placeholder='Pesquisar..')
   br
   table#tabela.table.mr-auto
    thead
      tr
       th.text-center Cod
       th Descrição
       th Preço Custo
       th Preço Revenda
       th Preço Cliente
       th.text-right Actions
    tbody
     each produto, i in produtos.rows
      tr
       td.text-center #{produto.idproduto}
       td #{produto.descricao}
       td #{produto.precocusto}
       td #{produto.precorevenda}
       td #{produto.precocliente}
       td.td-actions.text-right
          a(href='/produtos/editar/#{produto.idproduto}')
           button.btn.btn-success(type='button', rel='tooltip')
            i.now-ui-icons.ui-2_settings-90
   br
   br
   br
   a.btn.btn-info(type='button',href='produtos/cadProduto') Cadastrar Novo Produto
  script.
    $('input#txt_consulta').quicksearch('table#tabela tbody tr');      

      