extends ../layout

block content
    h3= title

    form(name="editCliente",method="post",action="/clientes/editarCliente")
     .container
        // Text input
        input#CliID.form-control.input-md(name='idcliente', type='hidden', readonly='readonly', value='#{cliente.idcliente}')
        br
        // Text input
        | Nome
        input#nome.form-control.input-md(name='nome', type='text', placeholder='Nome Completo', required='',value='#{cliente.nome}')
        br
        // Text input
        |Cpf
        input#cpf.form-control.input-md(name='cpf', type='text', placeholder='Ex.: 888.888.888-88', required='',value='#{cliente.cpf}')
        br
        // Text input
        |Telefone
        input#telefone.form-control.input-md(name='telefone', type='text', placeholder='EX.: (11)99999-999',value='#{cliente.telefone}')
        br
        // Text input
        |Endereço
        input#endereco.form-control.input-md(name='endereco', type='text', placeholder='rua jacofer,556',value='#{cliente.endereco}')
        br
        // Text input
        |Email
        input#email.form-control.input-md(name='email', type='text', placeholder='exemplo@gmail.com',value='#{cliente.email}')
        br
        // Button
        button.btn.btn-primary(type='submit') Cadastrar