extends ../layout

block content
  h1= Clientes
  .container
   table.table.mr-auto
    thead
      tr
       th.text-center Codigo
       th Nome
       th Cpf
       th telefone
       th Endereço
       th Email
       th.text-right Actions
    tbody
     each cliente, i in clientes.rows  
      tr
       td.text-center #{cliente.idcliente}
       td #{cliente.nome}
       td #{cliente.cpf}
       td #{cliente.telefone}
       td #{cliente.endereco}
       td #{cliente.email}
       td.td-actions.text-right
        a(href='/clientes/editar/#{cliente.idcliente}')
           button.btn.btn-success(type='button', rel='tooltip')
            i.now-ui-icons.ui-2_settings-90
   br
   br
   br
   a.btn.btn-info(type='button',href='/cadCliente')     
      